<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="default"
            connectionString="Data Source=IVAN_PC\SQLEXPRESS;Initial Catalog=KitchenDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="ivan_db"
            connectionString="Data Source=IVAN_PC\SQLEXPRESS;Initial Catalog=KitchenDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <!-- По умолчанию будет юзаться стринга с именем 'default' -->
    </connectionStrings>
</configuration>