@{
    ViewBag.Title = "Книга рецептов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Поиск по рецептам</h2>
<div style="text-align: left">
    <a href="@Url.Action("Index", "Recipes",2)">Рецепт дня</a>
    @*@Html.ActionLink("Пользователи",  "Index", "Recipes")*@
</div>